@import "tailwindcss";

:root {
  --background: #070300;
  --foreground: #fafafa;
  --card: #141008;
  --card-foreground: #fafafa;
  --primary: #F97316;
  --primary-foreground: #ffffff;
  --muted: #1c1408;
  --muted-foreground: #a1a1aa;
  --border: #2a1f0e;
  --success: #22c55e;
  --destructive: #ef4444;
}

body {
  background: var(--background);
  color: var(--foreground);
}
